@import "../../var.scss";
.form-container {
  background: #00000033;
  max-width: 610px;
  height: 470px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 10px;
  overflow: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h1 {
    font-weight: 500;
    font-size: 45px;
  }
  img {
    cursor: pointer;
  }
}
.btn {
  color: $main-color2;
  background-color: $main-color1;
  font-family: $main-font2;
  font-weight: 400;
  font-size: 21px;
  padding: 0 55px;
  border-radius: 10px;
  cursor: pointer;
  span {
    font-family: $main-font1;
    font-weight: 200;
    font-size: 40px;
    margin-right: 10px;
  }
}
.forms {
  padding: 21px;
  height: 260px;
  background: $bgc;
  border-radius: 10px;
  margin-bottom: 25px;
}
input,
textarea {
  width: 100%;
  font-size: 18px;
  font-family: $main-font1;
  border-radius: 10px;
  background-color: $bgc;
  &::placeholder {
    color: #00000047;
  }
}
input {
  height: 35px;
}
textarea {
  height: 185px;
  overflow: auto;
}
.btns-container {
  display: flex;
  justify-content: center;
  gap: 36px;
  img:hover {
    transition: all 0.2s;
    transform: scale(1.03);
    cursor: pointer;
  }
}
