<div class="form-container">
  <header>
    <h1>Edit</h1>
    <img routerLink="../" src="../../assets/img/cancel.svg" />
  </header>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="forms">
      <div class="form-field">
        <input
          class="textbox"
          ngModel
          #titleField="ngModel"
          name="title"
          type="text"
          placeholder="Title"
        />
      </div>

      <div class="form-field">
        <textarea
          class="textarea"
          class="textarea"
          ngModel
          name="content"
        ></textarea>
      </div>
    </div>
    <div class="btns-container">
      <img (click)="deleteNote()" src="../../assets/img/trash.svg" />
      <button class="btn align-end">Edit</button>
    </div>
  </form>
</div>
