$bground-col: linear-gradient(
  180deg,
  rgba(223, 99, 82, 0.81) -27.17%,
  rgba(239, 183, 117, 0.74) 129.72%
);
$bgc: #d7a084;
$main-color1: #000;
$main-color2: #fff;
$main-font1: "Montserrat";
$main-font2: "Orbitron";
