@import "../../var.scss";
.table_cal {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  padding-top: 8px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 10px;
}
table {
  border-collapse: collapse;

  thead {
    font-family: $main-font2;
  }
  th,
  td {
    padding: 8px 10px;
  }
  td {
    transition: all 0.2s;
    &.disabled {
      opacity: 0.5;
    }

    &:hover:not(.disabled) {
      color: $main-color2;
      cursor: pointer;
    }
  }
  .active {
    color: $main-color2;
    font-weight: bold;
  }
  .selected {
    color: $main-color1;
    font-weight: bold;
  }
}

@media (max-width: 548px) {
  .calendar {
    font-size: calc(17px + (16 + 5 * 0.7) * ((100vw - 320px) / 1440));
  }
  th,
  td {
    padding: 1.5vw 2vw !important;
  }
  .table_cal {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 425px) {
  th,
  td {
    padding: 2vw 1.7vw !important;
  }
}
