.board-wrapper {
  margin-top: -50px;
  margin-bottom: 65px;
  .board-column {
    overflow-y: auto;
    width: 600px;
    padding: 15px;
    height: 550px;
    border-radius: 10px;
    background: #ffffff1c;
  }
}
app-todo-item {
  display: block;
}
::-webkit-scrollbar {
  width: 1px;
}

@media (max-width: 1189px) {
  .board-column {
    max-width: 500px;
  }
}

@media (max-width: 548px) {
  .board-column {
    max-width: 90vw;
  }
}