.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    // overflow-x: auto;

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0; // to force the columns to all be the same size, regardless of content
        min-width: 400px;
        margin: 50px;
        padding: 25px;
        border-radius: 10px;
        background: rgba(white, 0.5);
      }
    }
  }
}
